#title {
    text-align: center;
    margin-top: 10px;
}

#breedImageElement {
    display: none;
    height: 200px;
}

#logo {
    height: 40px;
}

#guessDogBreedInput {
    margin-bottom: 20px;
}

#guessDogBreedInputLabel {
    font-style: italic;
}

#inputsContainer {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
}

#actionsWhilePlayingRow {
    display: none;
}

#score {
    font-weight: bold;
}

#timeLeft {
    font-weight: bold;
}

#helperText {
    font-weight: bold;
}

#zoomedImage {
    width: 100%;
}

#gameDetailBox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    #imageToGuess {
        height: 400px
    }
}