#title {
    text-align: center;
    margin-top: 10px;
}

#imageToGuess {
    display: none;
    height: 200px;
}

#logo {
    height: 40px;
}

#guessDogBreedInput {
    margin-bottom: 20px;
}

#guessDogBreedInputLabel {
    font-style: italic;
}

#inputsContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-bottom: 20px;
}

#actionsWhilePlayingRow {
    display: none;
}

#score {
    margin-top: 20px;
    font-weight: bold;
}

#timeLeft {
    font-weight: bold;
}

#helperText {
    font-weight: bold;
}

#zoomedImage {
    width: 100%;
}